/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: 'Muli';
}
body {
  margin: 0 auto;
  max-width: 600px;
  padding-left: 16px;
  padding-right: 16px;
}
button:hover {
  cursor: pointer;
}

button {
  padding: 7px 14px;
  font-size: 14px;
  color: #ffffff;
  background-color: #141414;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}